body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.book-card {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  border-radius: 1rem;
}
