<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/characters/create-a-character">Create a Character</a>
<a href="/books/create-a-book">Create a Book</a>
<a href="/characters/all-characters">List Characters</a>
<a href="/books/all-books">List Books</a>