<h1>Create a Character</h1>
<form action="/characters/create-a-character" method="post">
  <input type="text" placeholder="enter the character name" name="name" />
  <input type="number" placeholder="enter the age" name="age" />
  <input type="text" placeholder="enter the character gender" name="gender" />
  <button type="submit">
    Create
  </button>
</form>