<form action="/products" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="number" name="quantity">
    <button type="submit">Add Product</button>
</form>